<style>
  .business-container {
    margin: 20px;
    font-family: 'Arial', sans-serif;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  .business-header {
    color: #333;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }
  .business-detail {
    margin-bottom: 10px;
    color: #666;
  }
  .buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }
  .btn {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  .btn-primary {
    background-color: #007BFF;
  }
  .btn-danger {
    background-color: #dc3545;
  }


  .menu-container {
  margin: 20px;
  font-family: 'Arial', sans-serif;
  background-color: #FFF3E0; 
  border: 1px solid #FFCCBC; 
  padding: 15px;
  border-radius: 8px;
}

.menu-title {
  font-weight: bold;
  font-size: 24px; 
  color: #FF5722; 
  margin-bottom: 10px;
}
</style>

<div class="business-container">
  <% if @business %>
    <div class="business-header">
      <h2><%= @business.name %></h2>
    </div>
    <% if @business.user == current_user %>
      <div class="business-details">
        <% if @business.address.present? %>
          <p class="business-detail"><strong>Address:</strong> <%= @business.address %></p>
        <% end %>
        <% if @business.restaurant_type.present? %>
          <p class="business-detail"><strong>Restaurant Type:</strong> <%= @business.restaurant_type %></p>
        <% end %>
        <% if @business.bio.present? %>
          <p class="business-detail"><strong>Bio:</strong> <%= @business.bio %></p>
        <% end %>
      </div>
    <% else %>
      <div class="business-details">
        <% if @business.address.present? %>
          <p class="business-detail"><strong>Address:</strong> <%= @business.address %></p>
        <% end %>
        <% if @business.restaurant_type.present? %>
          <p class="business-detail"><strong>Restaurant Type:</strong> <%= @business.restaurant_type %></p>
        <% end %>
        <% if @business.bio.present? %>
          <p class="business-detail"><strong>Bio:</strong> <%= @business.bio %></p>
        <% end %>
      </div>
    <% end %>
    <% if @business.menu.present? %>
      <!-- Separate container for the menu -->
      <div class="menu-container">
        <p class="menu-title">Menu</p>
        <p><%= @business.menu %></p>
      </div>
    <% end %>
  <% else %>
    <p>No business found.</p>
  <% end %>
</div>
<% if @business && @business.user == current_user %>
  <div class="buttons">
    <%= link_to 'Edit', edit_user_business_path(@user, @business), class: 'btn btn-primary' %>
    <%= button_to 'Delete', user_business_path(@user, @business), method: :delete, data: { confirm: 'Are you sure you want to delete your business page?' }, class: 'btn btn-danger' %>
  </div>
<% end %>