<div style="margin: 20px; font-family: Arial, sans-serif; display: flex;">
  <div style="flex: 1; min-width: 300px;"> 


    <h2><%=@user.email%></h2>
    <p><strong>Name:</strong> <%= @profile.name %></p>
    <p><strong>Bio:</strong> <%= @profile.bio %></p>

    <div style="margin-top: 20px;">
      <% if current_user != @user %>
        <% if current_user.following.include?(@user) %>
          <%= button_to "Unfollow", user_follow_path(@user, current_user.following_associations.find_by(followed_id: @user.id)), method: :delete, class: "btn btn-danger" %>
        <% else %>
          <%= button_to "Follow", user_follows_path(@user), params: { followed_id: @user.id }, method: :post, class: "btn btn-primary" %>
        <% end %>
      <% end %>

      <% if current_user == @user %>
        <%= link_to "Edit Profile", edit_user_profile_path(@user), class: "btn btn-secondary" %>
        <% if @user.business.nil? %>
          <%= link_to 'Create Business Page', new_user_business_path(@user), class: 'btn btn-primary' %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div style="flex: 1; padding-left: 20px;"> 
    <% if @user.followers.any? %>
      <div style="margin-bottom: 20px;">
        <h4 style="font-size: smaller;">Followers:</h4>
        <% @user.followers.each do |follower| %>
          <p style="font-size: smaller;"><%= link_to follower.email, user_profile_path(follower), class: "btn btn-link" %></p>
        <% end %>
      </div>
    <% end %>

    <% if @user.following.any? %>
      <div>
        <h4 style="font-size: smaller;">Following:</h4>
        <% @user.following.each do |followed| %>
          <p style="font-size: smaller;"><%= link_to followed.email, user_profile_path(followed), class: "btn btn-link" %></p>
        <% end %>
      </div>
    <% end %>

    <% if current_user == @user %>
      <!-- Link to Cookbook -->
      <div style="margin-top: 20px;">
        <%= link_to 'Cookbook', user_cookbook_path(@user), class: 'btn btn-primary' %>
      </div>
    <% end %>

    <!-- Business Page Links -->
    <% if @user.business %>
      <div style="margin-top: 20px;">
        <%= link_to 'Business Page', user_business_path(@user, @user.business), class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div>

<hr>

<div style="margin: 20px;">
  <h3>Recipes:</h3>
  <% @user.posts.each do |post| %>
    <div class="card mb-4">
      <div class="card-body">
        <h2 class="card-title"><%= link_to post.title, post_path(post) %></h2>
        <p class="card-text">
          <strong>Body:</strong> <%= post.body %><br>
          <strong>Cuisine:</strong> <%= post.cuisine %><br>
          <strong>Difficulty:</strong> <%= post.difficulty %><br>
          <strong>Meal:</strong> <%= post.meal %><br>
          <strong>Likes:</strong> <%= pluralize(post.likes.count, 'Like') %>

        </p>
        <div class="post-comments" style="margin-top: 10px;">
          <h4>Comments:</h4>
          <% post.comments.each do |comment| %>
            <p><strong><%= comment.user.email %>:</strong> <%= comment.body %></p>
          <% end %>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>

