<%= form_with(model: fork, url: post_forks_path(@post)) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title, value: @post.title %>
  </div>

  <div>
    <%= form.label :body %>
    <%= form.text_area :body, value: @post.body %>
  </div>

  <div>
    <%= form.label :meal %>
    <%= form.text_field :meal, value: @post.meal %>
  </div>

  <div>
    <%= form.label :difficulty %>
    <%= form.text_field :difficulty, value: @post.difficulty %>
  </div>

  <div>
    <%= form.label :cuisine %>
    <%= form.text_field :cuisine, value: @post.cuisine %>
  </div>

  <div>
    <%= form.submit "Create Fork", class: "btn btn-primary" %>
  </div>
<% end %>