<div style="margin: 20px;">
  <h1>Recipes</h1>

  <div class="text-right">
    <p>
      Sort by:
      <%= link_to 'Date', posts_path(sort_by: 'date') %> |
      <%= link_to 'Sweets', posts_path(sort_by: 'likes') %>
    </p>
  </div>

  <% @items.each do |item| %>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-4">
            <% if item.image.attached? %>
              <%= image_tag item.image, class: 'img-fluid', style: 'max-height: 12em;' %>
            <% else %>
              <%= image_tag 'default.png', class: 'img-fluid', style: 'max-height: 200px; max-width: 260px' %>
            <% end %>
          </div>
          <div class="col-md-8">
            <h2 class="card-title"><%= link_to item.title, item.is_a?(Post) ? post_path(item) : post_fork_path(item.post, item) %></h2>
            <p class="card-text">
              <% [ 'meal', 'difficulty', 'cuisine', 'dietary'].each do |category| %>
                <strong><%= category.titleize %>:</strong>
                <% item.tag_list(category).split(', ').each do |tag| %>
                  <%= link_to tag, posts_path(search: tag), class: 'tag-badge' %>
                <% end %>
                <br>
              <% end %>
              <strong>User:</strong> <%= item.user.email %><br>
              <strong>Date:</strong> <%= item.created_at.strftime("%B %d, %Y") %><br>
              <strong>Sweets:</strong> <%= pluralize(item.likes.count, 'Sweet') %>
            </p>
          </div>
        </div>
      </div>
    </div>
    <hr>
  <% end %>
</div>

<p>
  <%= link_to "Create New Recipe", new_post_path, class: 'btn btn-primary' %>
</p>
