<div class="container mt-5">
  <div class="card mb-4">
    <div class="card-body">
      <h1 class="mb-4 card-title"><%= @post.title %></h1>
      <div class="sweets-counter mb-3">
        <% if @post.likes.count > 0 %>
          <strong><%= pluralize(@post.likes.count, 'Sweet') %></strong>
        <% end %>
      </div>
      <% if @post.liked_by?(current_user) %>
        <%= button_to 'Unsweet', post_like_path(@post, @post.likes.find_by(user: current_user)), method: :delete, class: 'btn btn-warning mb-3' %>
      <% else %>
        <%= button_to 'Sweet', post_likes_path(@post), method: :post, class: 'btn btn-success mb-3' %>
      <% end %>
      <ul class="list-group mb-3">
        <li class="list-group-item">Author: <%= link_to @post.user.email, user_profile_path(@post.user) %></li>
        <li class="list-group-item">Meal: <%= @post.tag_list('meal') %></li>
        <li class="list-group-item">Difficulty: <%= @post.tag_list('difficulty') %></li>
        <li class="list-group-item">Cuisine: <%= @post.tag_list('cuisine') %></li>
        <li class="list-group-item">Dietary: <%= @post.tag_list('dietary') %></li>
      </ul>
      <% if @post.image.attached? %>
        <div>
          <%= image_tag @post.image, style: 'max-height: 20em;' %>
        </div>
      <% end %>
      <hr>
      <% if @post.description.present? %>
        <h2 class="mb-3">Description</h2>
        <p class="mb-3 card-text"><%= @post.description %></p>
      <% end %>
      <% if @post.ingredients.present? %>
        <h2 class="mb-3">Ingredients</h2>
        <p class="mb-3 card-text"><%= @post.ingredients %></p>
      <% end %>
      <% if @post.directions.present? %>
        <h2 class="mb-3">Directions</h2>
        <p class="mb-3 card-text"><%= @post.directions %></p>
      <% end %>
      <%= link_to "Fork this Recipe", new_post_fork_path(@post), class: "btn btn-primary mb-3" %>
      <% favorite = @post.favorite_for(current_user) %>
      <% if favorite %>
        <%= button_to 'Remove from Cookbook', favorite_path(favorite), method: :delete, class: 'btn btn-warning mb-3' %>
      <% else %>
        <%= button_to 'Add to Cookbook', post_favorites_path(@post), method: :post, class: 'btn btn-success mb-3' %>
      <% end %>
      <% if current_user == @post.user %>
        <hr>
        <%= link_to 'Edit this Recipe', edit_post_path(@post), class: 'btn btn-primary mt-3' %>
        <%= button_to 'Delete this Recipe', post_path(@post), method: :delete, data: { turbo: false }, class: 'btn btn-danger mt-3', form: { class: 'd-inline' } %>
      <% end %>
      <hr>
      <h2 class="mb-3">Comments</h2>
      <% @post.comments.each do |comment| %>
        <div class="comment-box mb-3">
          <p><%= comment.user.email %></p>
          <p><%= comment.created_at.strftime("%B %d, %Y at %I:%M %p") %></p>
          <p><strong>Comment:</strong> <%= comment.body %></p>
          <% if current_user && comment.user == current_user %>
            <%= button_to 'Delete', post_comment_path(@post, comment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
          <% end %>
        </div>
      <% end %>
      <%= render partial: 'comments/form', locals: { commentable: @post } %>

      <div class="flag-button-container mt-3">
        <% if current_user %>
          <% current_user_flag = @post.flags.find_by(user: current_user) %>
          <% if current_user_flag %>
            <%= button_to 'Unflag', post_flag_path(@post, current_user_flag), method: :delete, class: 'btn btn-danger' %>
          <% else %>
            <%= button_to 'Flag this Recipe', post_flags_path(@post), method: :post, class: 'btn btn-warning' %>
          <% end %>
          <% if @post.flags_count.to_i > 0 %>
            <span class="flag-count ml-2"><%= @post.flags_count %></span> Flags
          <% end %>
        <% end %>
      </div>
      <%= link_to 'Back To Posts', posts_path, class: 'btn btn-outline-secondary mt-3' %>
    </div>
  </div>
</div>
